<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:largeHeap="true">
        <activity
            android:name="org.dolphinemu.dolphinemu.wn.DolphinEmulationActivity"
            android:process=":gc"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation|uiMode|density"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <service android:name="org.dolphinemu.dolphinemu.services.USBPermService" android:process=":gc" android:exported="false" />
    </application>
</manifest>
